<div class="container">
<div class="jumbotron my-3">
  <h1 class="display-4">Welcome to MyBlog</h1>
  <p class="lead">This is a simple blog that i created using ruby on rails.</p>
  <hr class="my-4">
  <p>It has several features such as create, read, update and delete</p>
  <a class="btn btn-primary btn-lg" href="/blog2s" role="button">Go to Blog</a>
  </div>
</div>